<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style/styles.css">
</head>
<body>
  <div class="container">
    <h1>Dashboard</h1>
    <div>
      <% if (user) { %>
        <p>Welcome, <%= user.first_name %> <%= user.last_name %>!</p>
        <p>Email: <%= user.email %></p>
        <a href="/logout">Logout</a>
      <% } else { %>
        <p>You are not logged in. Please <a href="/login">Login</a> to access the dashboard.</p>
      <% } %>
    </div>
  </div>
</body>
</html>
